---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique deleniti accusantium atque quisquam quia quam culpa laborum architecto ratione, nesciunt blanditiis ullam saepe vero, ut suscipit voluptate magni at officia, eos eius magnam aperiam tempora cumque illum? Ullam, incidunt accusantium sint quibusdam temporibus porro reiciendis modi a dicta nam atque vel soluta iste molestiae eveniet! Odio, eius non, excepturi ullam ad porro officia temporibus optio aut modi magnam dolorum reiciendis nostrum. Et totam reprehenderit earum fuga eligendi temporibus mollitia quod tempore, eaque libero laboriosam deleniti ab, provident quae eveniet harum a consequatur optio culpa vero soluta suscipit alias illum! Magnam?</p>
</Layout>