<header class="bg-zinc-900 flex flex-col">
    <h1>Protect your password</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, dolore?</p>
    <button>
        Start Now
    </button>
    <img src="images/fingerprint.svg" alt="" class="w-80">
</header>